* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

Body {
  background-color: #333533;
  color: white;
}


/* NavBar */

.Logo {
  color: #ffd100 !important;
}


/* SideBar */

.sidebar{
  background-color: #202020 !important;
}

.sidebar i {
  width: 20px;
}

/* ProfileBar */

.profilebar{
  background-color: #202020 !important;
}


/* TopButtons */
.button {
  font-size: 14px;
  padding: 7px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  color: #ffd100;
  background-color: #000;
  margin: 5px;
}

/* Menu */
.Heading {
  font-size: 23px;
}

.rightHeadingLink {
  text-align: right;
}

.underLine {
  border: #ffd100 solid 1px;
  width: 20%;
  margin-left: 12.5px;
  background-color: #ffd100;
  padding: 1px;
}

/* ExploreMenu */
.exploreMenuImage {
  display: grid;
  align-items: center;
  max-width: 100%;
  height: 100%;
}

.cardImage {
  margin: auto;
  max-width: 25vw;
}


/* Top Deals */

.card {
  background-color: #333533;
  color: white;
}

.foodImage {
  margin: auto;
  max-width: 35vw;
  height: 100%;
  object-fit: contain;
}



.foodName {
  font-size: 20px;
}

.foodPrice {
  font-size: 20px;
}

.TopDealsCard .button{
  min-width: 100%;
}


/* Menu.jsx */

.MenuBar{
  background-color: #202020 !important;
}


/* OrderPage */

.orderImage{
  width: 50%;
  size: 50%;  
}

.ItemInfo{
  background-color: #202020;
  height: 100vh;
  color: white;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.itemHeading{
  font-size: 25px;
}

.OrderHeading{
  font-size: 18px;
}

.btnQuantity{
  background: #000;
  color: white;
  width: 100%;
  font-size: 18px;
}

.DrinksMenu{
  border-radius: 20px;
}

.btnOrder{
  background-color: #333533;
  width: 100%;


  font-size: 14px;
  padding: 7px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  color: #ffd100;
  margin: 5px;
}

.form-check-input{
  color: #000;
}


/* Login / SignUp Forms */

.LoginForm{
  background-color: #202020 !important;
  color: white;
 
}


/* About Us */

.AboutUs{
  background-color: #202020 !important;
  min-height: 50vh;
  max-width: 60vh;
  border-radius: 20px;
}

/* Contact Us */
.ContactUs{
  background-color: #202020 !important;
  max-width: 60vh;
  border-radius: 20px;
}

.ContactUs p {
  font-size: 20px;
}




/* Feedback */

.FeedBackField{
  background-color: #202020 !important;
  color: white !important;
  border: none;
  min-height: 50vh;
  max-width: 60vh;
  border-radius: 20px;
}

.FeedBackSubmit .button{
  width: 50%;
  font-size: 18px;
}

::-webkit-input-placeholder{
  color:white;
}